body {
  background-color: #000000 !important; /* Off White */
  color: #000000 !important; /* Cherry */
}
.dark body {
  background-color: #000000 !important; /* Dark mode charcoal */
  color: #000000 !important; /* Off White text */
}
.btn-primary {
  background-color: #000000 !important; /* White Oak */
  color: #000000 !important;
}
